.blank-words-container {
  margin: 5pt 1.5cm 5pt 5pt;
  padding: 5pt;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 1.2rem;
}

.fill-blank-table-row {
  font-size: 1.2rem;
}

@media print {
  .fill-blank-table-row {
    font-size: 0.5cm;
  }

  .ant-table-tbody > tr > td {
    padding: 0.3cm;
  }

  .blank-words-container {
    font-size: 13pt;
  }
}
