.word-test-dictation {
    display: flex;
    flex-direction: column;
}

.word-test-dictation-row {
    display: flex;
}

.word-test-dictation-answer {
    background-color: white;
    padding: 2px 5px 2px 5px;
}

.word-test-dictation-answer-trasnparent {
    background-color: white;
    /*visibility: hidden;*/
    color:white;
    user-select: none;
    padding: 2px 5px 2px 5px;
}

.dictation-table-row {
    display: flex;
    align-items: center;
    height: 2.5rem;
    font-size: 1rem;
}

.dictation-table-2line-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.5rem;
    font-size: 1rem;
}