.word-test-dictation {
    display: flex;
    flex-direction: column;
}

.word-test-dictation-row {
    display: flex;
}

.word-test-dictation-answer {
    background-color: white;
    padding: 2px 5px 2px 5px;
}

.word-test-dictation-answer-trasnparent {
    background-color: white;
    /*visibility: hidden;*/
    color:white;
    user-select: none;
    padding: 2px 5px 2px 5px;
}

.dictation-table-definition-row {
    font-size: 1.5rem;
    margin-top: -0.3rem;
    margin-bottom: -0.3rem;
}

.dictation-table-answer-row {
    height: 2rem;
    font-size: 1.2rem;
    margin-top: -2rem;
    margin-bottom: -0.5rem;
}