.timeline-container {
  margin: 2rem;
}

.timeline-contents {
  display: flex;
  flex-wrap: wrap;
}

.timeline-clock {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px gainsboro;
}
