@media print {
  .layout-print-display-none {
    display: none;
  }

  .layout-content {
    height: 297mm;
    width: 210mm;
    padding-top: 1.2cm;
    padding-left: 1.2cm;
    padding-right: 1cm;
  }
}
