.word-test-dictation {
  display: flex;
  flex-direction: column;
}

.word-test-dictation-row {
  display: flex;
}

.word-test-dictation-answer {
  background-color: white;
  padding: 2px 5px 2px 5px;
}

.word-test-dictation-answer-trasnparent {
  background-color: white;
  /*visibility: hidden;*/
  color: white;
  user-select: none;
  padding: 2px 5px 2px 5px;
}

.dictation-table-definition-row {
  font-size: 1.2rem;
}

.dictation-table-answer-row-word {
  font-size: 1.1rem;
  margin-bottom: -0.12cm;
}

@media print {
  .dictation-table-definition-row {
    font-size: 0.5cm;
  }

  .dictation-table-answer-row {
    margin-top: -0.4cm;
    margin-bottom: -0.4cm;
  }

  .dictation-table-answer-row-word {
    font-size: 0.6cm;
    margin-bottom: -0.12cm;
  }

  .dictation-table-answer-row-translate {
    font-size: 0.4cm;
  }

  .ant-table-tbody > tr > td {
    padding: 0.3cm;
  }

  .ant-table-thead > tr > th {
    padding: 5px;
  }
}
