.timeline-pannel {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.timeline-current {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px gainsboro;
}

.icon-wrapper {
  margin-bottom: 3rem;
  pointer-events: none;
}
